@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

<h1 class="text-danger">Error.</h1>
<h2 class="text-danger">An error occurred while processing your request.</h2>

@if(Request.IsLocal)
{ 
    <div>
        <h2>@Model.ControllerName - @Model.ActionName</h2>
    </div>
    <div>
        <h3>Error Message</h3> <br/>    
        @Model.Exception.Message
    </div>
    <div>
        @Model.Exception.StackTrace
    </div>
}

